.navbar-brand {
    font-weight: bold;
  }
  .dropdown-menu a {
    color: black;
  }
  .dropdown-menu .logout {
    color: red;
  }
  .grid-photo {
    width: 100%;
    max-width: 140px;
    max-height: 140px;
    object-fit: cover; 
  }
  .single-photo {
    margin-top: 5px;
    max-width: 500px;
    height: auto;
    object-fit: contain; 
  }
  button {
    border: none;
    background-color: white;
    padding: 0;

  }

  .photo-card {
    overflow: hidden; 
    position: relative; 
  }
  